<div class="row text-center">
  <div class="col ">
    <h1>Contador</h1>
    <h2>{{ contador }}</h2>
  </div>
</div>
  <div class="row text-center">
    <div class="col">
      <button (click)="incrementar()"
            type="button" 
            class="btn btn-primary mr-1">
            Incrementar
        </button>
      <button (click)="decrementar()"
            type="button" 
            class="btn btn-info ml-1">
            Decrementar
          </button>
    </div>
  </div>

<!-- Utilizando herencia con [contador] y recibiendo info con (cambioContador)  el cual va ser
    contador = a lo que se emita en el componente hijo
-->
<!-- Componente hijo -->
  <div class="row text-center">
    <div class="col">
      <!-- <app-hijo [contador]="contador" (cambiContador)="contador = $event"></app-hijo> -->
      <app-hijo></app-hijo>
    </div>
  </div>

